alembic=
appdirs
Babel
certifi
chardet
click
distlib
filelock
Flask
Flask-Babel
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-Table
Flask-WTF
importlib-metadata
importlib-resources
iotop
itsdangerous
Jinja2
Mako
MarkupSafe
mock
npm
optional-django
pipenv
pygobject
pysrc
python-apt
python-dateutil
python-editor
pytz
requests
six
SQLAlchemy
ssh-import-id
unattended-upgrades
urllib3
virtualenv
virtualenv-clone
Werkzeug
WTForms
zipp
